body {
    background: url("https://lh3.googleusercontent.com/M9rq1nHEADW8ri6okWyKgf-f1isgC2wUqjqw3rMak85j8e73CdtzuZYru7sbRshlGQwO1KixlgL72vUqGAsDTVcVcYSIsbuiZIiaJzFlARovd3h26INYGQ9F0fr9wG5PU5tqPx9-xfrBkd8eJdXAeTHEyxr2wOH16Q5yC7iN8KX0bg4QHHn5leHBEgVfgZM8uyYfHKDeaiyvoBRgKeGxt07f5qxtjoWwmhTwsrYYTyAruQvFOhsepxgIoi11UscIIZufekTMDo0aTA53x_B577vQNgDLPOevzVBPmhlHJPZZA5I0Sq7UQdoesU0RGVpNaBBNksQB8ct-K_YvwNzm9-xKzLghMOla63b15GgPs5IE8_B8dr0JwsBiOPKhoky8-FGXKwKs84Y268CGINPRJkoXhsKdIpobpwj-suNeasqFm83OUx9FFjRml5iAoOMJSWf8b5Xb_-aohgGCemsXGHUkC2eI7YSa8fZvlgbBanOpCmksuadrkekH0jcHeP35wvbz8y5_Vz3L4y4X2pcAL6h4h6MIynO6YQNDS2SU-2NyBtlKKFDxrfDZLyr8NPbxZblF7fsclW4MuTBS2w7ONlI2qAnk03opcCkWSYkiKUKPJk3kQbqVXNe_DBYd4xNXjs6T5tbLAYXP57lSuzT1gn_C7BtWTkEk9oAGmybEWpkoxCyJc0UEFl5GJ2rs8s0=w996-h664-no?authuser=0");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width:1000px) {
body {
    background: url("https://lh3.googleusercontent.com/WOaz39B4gX5EImdHcd5iztbXe9WpL9RAn2aNf-50pzZAyBT07sh2K7xUtbXgTGEDMqq950WW2iyNy6EhNGiUvi3IDWeSxKFagnHVpTjGJjwWN7ZyMH0nglwoD0wlDbUYyQdT5oloC5pdEQ5ZKnUvdA0mXrvSi8GpyBKVUWl4AReZ4n_rfoqp5nvHeq1nqCrntQSb2K68S1rzYyYbE83Xkm-FXSs-k9a9qbw9VJSxam7njt_rPB-id8jMguRX-46-JElsxoALMMczjZiGzCearVsMVJkARyfvpVjWqHuBt_zy1lmpX4o9HKywk1nc6E-Jdc_xOTrUGElGIzL2TAQTTWYSSLrqZwZSi7xuEqXFBQjfB-hJnoRZZeH9HjYG2lMGbOo9BkHxzY9Lu_4ys3JjdEO0ymDflRhphlotwmkx9sD1IhhIWMrD_-ImtnczRa8a_9wf3mU29I6mZO815SCywlIeV9eqHcykgg8Gdc7hXXAIufvqzUgX5uxq-nf2umS9vDMrPqJnwLwZB1icfP_nO006IaIIdLNKByqV8Hx-F-V1pAKeofg45DrQZDvM6WiOFttaYXtvjZJCM6oI4Cr3G7q8KOlfryLx0Ge2MmG0nV3TizCtq1aqGxG-SFVlW85yRfqjmGjIFlsTOccTxzCX8CtEzUcYGAkYzLWffY4hw-TSHIbbHVFPjg2RdFTU0ek=w375-h664-no?authuser=0");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
}

.wrapper {
    display: table;
}
h1 {
    margin: 0;
    padding: 0.3em 1em;
    text-align: center;
    vertical-align: middle;
    font-family: 'Playfair Display', serif;     
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid white;
    font-size: 5em;
    color: white;
    transition: 0.3s;
}
h1:hover {
    font-size: 4.7em;
}
em {
        font-size: 3rem;
}
